[Desktop Entry]
Version=1.0
Name=Google
Name[pt_BR]=Google
GenericName=Web Browser
GenericName[pt_BR]=Navegador da Internet
Comment=Access the Internet
Comment[pt_BR]=Acessar a internet
Exec=/usr/bin/google-chrome-stable --password-store=basic %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[pt_BR]=Nova janela
Exec=/usr/bin/google-chrome-stable --password-store=basic

[Desktop Action new-private-window]
Name=New Incognito Window
Name[pt_BR]=Nova janela anônima
Exec=/usr/bin/google-chrome-stable --password-store=basic --incognito
