[Desktop Entry]
Exec=sudo /usr/sbin/service minidlna restart && /usr/sbin/service minidlna force-reload
Name=Mini DLNA
OnlyShowIn=LXQt;
Type=Application
Version=1.0
X-LXQt-Autostart-disabled=true
X-LXQt-Need-Tray=true
