[Desktop Entry]
Exec=amixer -c 0 set Headphone playback 120% unmute && amixer -c 0 set Master playback 90% unmute
Name=Som
OnlyShowIn=LXQt;
Type=Application
Version=1.0
