[Desktop Entry]
Exec=/usr/bin/vlc "https://lls-ws.github.io/iptv/LLS_TV_br.m3u"
Name=VLC
OnlyShowIn=LXQt;
Type=Application
Version=1.0
X-LXQt-Autostart-disabled=true
