[Desktop Entry]
Exec=/usr/bin/google-chrome-stable --password-store=basic \\\\\\\\"
Name=Google
OnlyShowIn=LXQt;
Type=Application
Version=1.0
X-LXQt-Need-Tray=true
