[Desktop Entry]
Exec=/usr/bin/google-chrome-stable --password-store=basic \\"--profile-directory=Profile 3\\" --ignore-profile-directory-if-not-exists https://www.youtube.com/
Hidden=true
Name=YouTube
OnlyShowIn=LXQt;
Type=Application
Version=1.0
X-LXQt-Need-Tray=true
