[Desktop Entry]
Exec=youtube-music-desktop-app
Name=YouTube Music
OnlyShowIn=LXQt;
Type=Application
Version=1.0
X-LXQt-Autostart-disabled=true
X-LXQt-Need-Tray=true
