[Desktop Entry]
Exec=youtube-music-desktop-app && sleep 10 && pactl set-sink-input-volume \\\\\\\\\\$(pactl list short sink-inputs | awk \\\\\\\\\\'{print \\\\\\\\\\$1}\\\\\\\\\\') 120%
Name=YouTube Music
OnlyShowIn=LXQt;
Type=Application
Version=1.0
X-LXQt-Need-Tray=true
