[Desktop Entry]
Exec=/usr/bin/launch_ytm.sh
Name=YouTube Music
OnlyShowIn=LXQt;
Type=Application
Version=1.0
X-LXQt-Need-Tray=true
X-LXQt-X11-Only=true
